In [1]:
import pandas as pd

data= pd.read_csv("kc_house_data.csv")
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [2]:
data = data[['price', 'sqft_living']]
data

           price  sqft_living
0       221900.0         1180
1       538000.0         2570
2       180000.0          770
3       604000.0         1960
4       510000.0         1680
5      1225000.0         5420
6       257500.0         1715
7       291850.0         1060
8       229500.0         1780
9       323000.0         1890
10      662500.0         3560
11      468000.0         1160
12      310000.0         1430
13      400000.0         1370
14      530000.0         1810
15      650000.0         2950
16      395000.0         1890
17      485000.0         1600
18      189000.0         1200
19      230000.0         1250
20      385000.0         1620
21     2000000.0         3050
22      285000.0         2270
23      252700.0         1070
24      329000.0         2450
25      233000.0         1710
26      937000.0         2450
27      667000.0         1400
28      438000.0         1520
29      719000.0         2570
...          ...          ...
21583   399950.0          710
21584   380000.0         1260
21585   270000.0         1870
21586   505000.0         1430
21587   385000.0         1520
21588   414500.0         1210
21589   347500.0         2540
21590  1222500.0         4910
21591   572000.0         2770
21592   475000.0         1190
21593  1088000.0         4170
21594   350000.0         2500
21595   520000.0         1530
21596   679950.0         3600
21597  1575000.0         3410
21598   541800.0         3118
21599   810000.0         3990
21600  1537000.0         4470
21601   467000.0         1425
21602   224000.0         1500
21603   507250.0         2270
21604   429000.0         1490
21605   610685.0         2520
21606  1007500.0         3510
21607   475000.0         1310
21608   360000.0         1530
21609   400000.0         2310
21610   402101.0         1020
21611   400000.0         1600
21612   325000.0         1020

[21613 rows x 2 columns]

In [3]:
from sklearn import preprocessing
data= preprocessing.normalize(data)

In [4]:
data= pd.DataFrame(data=data, columns=["price","sqft_living"])
data

          price  sqft_living
0      0.999986     0.005318
1      0.999989     0.004777
2      0.999991     0.004278
3      0.999995     0.003245
4      0.999995     0.003294
5      0.999990     0.004424
6      0.999978     0.006660
7      0.999993     0.003632
8      0.999970     0.007756
9      0.999983     0.005851
10     0.999986     0.005374
11     0.999997     0.002479
12     0.999989     0.004613
13     0.999994     0.003425
14     0.999994     0.003415
15     0.999990     0.004538
16     0.999989     0.004785
17     0.999995     0.003299
18     0.999980     0.006349
19     0.999985     0.005435
20     0.999991     0.004208
21     0.999999     0.001525
22     0.999968     0.007965
23     0.999991     0.004234
24     0.999972     0.007447
25     0.999973     0.007339
26     0.999997     0.002615
27     0.999998     0.002099
28     0.999994     0.003470
29     0.999994     0.003574
...         ...          ...
21583  0.999998     0.001775
21584  0.999995     0.003316
21585  0.999976     0.006926
21586  0.999996     0.002832
21587  0.999992     0.003948
21588  0.999996     0.002919
21589  0.999973     0.007309
21590  0.999992     0.004016
21591  0.999988     0.004843
21592  0.999997     0.002505
21593  0.999993     0.003833
21594  0.999974     0.007143
21595  0.999996     0.002942
21596  0.999986     0.005294
21597  0.999998     0.002165
21598  0.999983     0.005755
21599  0.999988     0.004926
21600  0.999996     0.002908
21601  0.999995     0.003051
21602  0.999978     0.006696
21603  0.999990     0.004475
21604  0.999994     0.003473
21605  0.999991     0.004126
21606  0.999994     0.003484
21607  0.999996     0.002758
21608  0.999991     0.004250
21609  0.999983     0.005775
21610  0.999997     0.002537
21611  0.999992     0.004000
21612  0.999995     0.003138

[21613 rows x 2 columns]

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data.iloc[:, 1:], data.iloc[:, 0], test_size = 0.10, random_state = 42)

In [8]:
print(x_train.shape, y_train.shape, x_test.shape, y_test.shape)

(19451, 1) (19451,) (2162, 1) (2162,)

In [9]:
batch_size = 100
n_minibatches = x_train.shape[0] // batch_size

def create_mini_batches(x_tr, y_tr, batch_size):
    mini_batches = [] 
    global n_minibatches
    for i in range(n_minibatches + 1): 
        X_mini = x_tr.iloc[i * batch_size : (i + 1) * batch_size, :]
        Y_mini = y_tr.iloc[i * batch_size : (i + 1) * batch_size]
        mini_batches.append((X_mini, Y_mini)) 
        if x_tr.shape[0] % batch_size != 0:
            X_mini = x_tr.iloc[i * batch_size: x_tr.shape[0], :]
            Y_mini  = y_tr.iloc[i * batch_size: y_tr.shape[0]]
            mini_batches.append((X_mini,Y_mini)) 
    return mini_batches 

mini_batches_all = create_mini_batches(x_train, y_train, batch_size)

In [10]:
len(mini_batches_all)

390

In [11]:
n_minibatches

194

In [ ]:
m = 1 #Initial value of slope
c = -1 #Initial value of intercept
lr = 0.1 #Learning Rate
delta_m = 1 #Initialising Δm
delta_c = 1 #Initialising Δc
max_iters = 10 #Maximum number of iterations  
iters_count = 0 #Counting Iterations


def deriv(m_f, c_f, datax, datay):
    
    m_deriv = 0
    c_deriv = 0
    for i in range(datax.shape[0]):
        x, y = datax.iloc[i], datay.iloc[i]
        m_deriv += (y-m_f*x-c_f)*x
        c_deriv += (y-m_f*x-c_f)
        m_deriv = -m_deriv/len(datax)
        c_deriv = -c_deriv/len(datay)
    return m_deriv, c_deriv  


while iters_count < max_iters:
    for i in range(n_minibatches):
        x_b, y_b = mini_batches_all[i]
        delta_m, delta_c = deriv(m, c, x_b, y_b)
        delta_m = -lr * delta_m
        delta_c = -lr * delta_c
        m += delta_m
        c += delta_c
    iters_count += 1
    print(f"Iteration: {iters_count}\tValue of m: {m}, \tValue of c: {c}")

print(f"\nThe local minima occurs at: {m}, {c}")

In [ ]:
import numpy as np

x_train = np.array(x_train)
y_train = np.array(y_train)
x_test = np.array(x_test)
y_test = np.array(y_test)

In [ ]:
print(type(x_train), type(y_train), type(x_test), type(y_test))

In [ ]:
y_pred_train = []
for i in x_train:
    y_p_tr = m - c
    y_pred_train.append(y_p_tr)
y_pred_train = np.array(y_pred_train)

In [ ]:
y_pred_test = []
for i in x_test:
    y_p_te = m- c
    y_pred_test.append(y_p_te)
y_pred_test = np.array(y_pred_test)

In [ ]:
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error


#Training Accuracies
mse = math.sqrt(mean_squared_error(y_train, y_pred_train)) 
print('Root mean square error', mse) 
mse = (mean_squared_error(y_train, y_pred_train)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_train, y_pred_train)
print('Mean absolute error', mae)

In [ ]:
#Testing Accuracies
mse = math.sqrt(mean_squared_error(y_test, y_pred_test)) 
print('Root mean square error', mse) 
mse = (mean_squared_error(y_test, y_pred_test)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_test, y_pred_test)
print('Mean absolute error', mae)